n8n-new-subscription-automation/Google form sales automation.json
{
  "name": "Google form sales automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "14bmJ-qdU7AhMpMKK5tFUem9nqF5_gUx8UBMoUgmCldw",
          "mode": "list",
          "cachedResultName": "Google form creation ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14bmJ-qdU7AhMpMKK5tFUem9nqF5_gUx8UBMoUgmCldw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1974134050,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14bmJ-qdU7AhMpMKK5tFUem9nqF5_gUx8UBMoUgmCldw/edit#gid=1974134050"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        32
      ],
      "id": "8ab84728-bba4-4341-aee3-5c32c089fae3",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "K2MAopE1bLQQWtAY",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b797972d-a95c-488f-b4f9-95a7c1917883",
              "name": "timestamp",
              "value": "={{ $json.Timestamp }}",
              "type": "string"
            },
            {
              "id": "78defdcb-2180-44b5-aa0d-a2919de86c07",
              "name": "full_name ",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "2812d7db-5ac4-48ef-8bba-e0dc9cf44000",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "7c999610-1438-43cb-875b-6bac28829973",
              "name": "phone",
              "value": "={{ $json.Phone }}",
              "type": "string"
            },
            {
              "id": "fe650446-0a4e-497d-9021-775ae7612672",
              "name": "company",
              "value": "={{ $json.Company }}",
              "type": "string"
            },
            {
              "id": "4edf0e53-a575-46a6-b07f-277bf8015bde",
              "name": "subscription_plan",
              "value": "={{ $json['Subscription Plan'] }}",
              "type": "string"
            },
            {
              "id": "8994ab6b-4f41-4f09-b35d-18f5f41aa213",
              "name": "comments ",
              "value": "={{ $json.Comments }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        32
      ],
      "id": "c39c6736-f62d-4e79-b461-8bfeeb41610c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "afeec167-449a-4555-8f61-51bd2e2a402e",
              "leftValue": "={{ $json['full_name '] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "afd16f04-ab0c-44cb-8fc6-a2012c0a50bc",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        32
      ],
      "id": "31d65c0c-892b-426c-a744-9d423fac4503",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ab8d898-1d65-4f29-ad8a-a354ecb69008",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -32
      ],
      "id": "f5a7fca9-8da8-425e-979f-0c69612b88ad",
      "name": "timestamp"
    },
    {
      "parameters": {
        "sendTo": "christianmangala@gmail.com",
        "subject": "Validation failed ",
        "message": "this subscription has failed ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        144
      ],
      "id": "cff57a8f-b7e8-4a8d-a292-3d4d84e02255",
      "name": "Validation failed",
      "webhookId": "53dd009d-cfb5-4142-b2c9-1a4f5abe4f86",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tgju3PhVXHxNNhkh",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "christianmangala@gmail.com",
        "subject": "=New Subscription ",
        "message": "=Allert we have a new subscriber",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        160,
        -32
      ],
      "id": "a9c0c6a0-2314-424a-b4bc-345f18f845c7",
      "name": "Notify sales team",
      "webhookId": "8b708574-5e1d-46fb-a879-e0c3b8098437",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tgju3PhVXHxNNhkh",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "Thank you for subscribing!",
        "message": "=Hello {{ $('Google Sheets Trigger').item.json['Full Name'] }},<br><br>\n\nThank you for subscribing to our <strong>{{ $('Google Sheets Trigger').item.json['Subscription Plan'] }}</strong> plan.<br><br>\n\nWe have received your details:<br>\n- <strong>Email:</strong>{{ $('Google Sheets Trigger').item.json.Email }} <br>\n- <strong>Phone:</strong>{{ $('Google Sheets Trigger').item.json.Phone }}<br>\n- <strong>Company:</strong>{{ $('Google Sheets Trigger').item.json.Company }}<br>\n- <strong>Plan:</strong>{{ $('Google Sheets Trigger').item.json['Subscription Plan'] }}<br><br>\n\nOur sales team will contact you shortly to finalize the next steps.<br><br>\n\nKind regards,<br>\n<strong>Your Company Sales Team</strong>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -32
      ],
      "id": "a33e3aea-e9f2-40d8-b8db-d3a24da8dff8",
      "name": "send confirmation email",
      "webhookId": "b4df44f2-db44-4dc8-96a4-7971a6c1894d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tgju3PhVXHxNNhkh",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "timestamp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "timestamp": {
      "main": [
        [
          {
            "node": "Notify sales team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify sales team": {
      "main": [
        [
          {
            "node": "send confirmation email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a80f1d4e-ef1b-4431-9a7d-8a7bc886612a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c1dbe7ef9f317fe45f49e1a8c4fb1c2583c604b47556ac413909edca6b1005e"
  },
  "id": "gAY0sY9q7f6q9wR7",
  "tags": []
}